@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: Canvas;
    color: CanvasText;
    color-scheme: light dark;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

summary {
    cursor: pointer;
}